/* TABLE OF CONTENTS 

	1.	BODY	
	2.	HTML ELEMENTS
	3.	FORM ELEMENTS
	4.	TRANSITION
	5.	CUSTOM FANCYBOX
	6.	PARALLAX CONTENT
	7.	VERTICAL MIDDLE
	8.	BUTTONS
	9.	PRELOADER
	10.	NAVBAR
	11.	HEADER
	12.	ABOUT APP
	13.	DOWNLOAD FOR FREE
	14.	SCREENSHOTS
	15.	APP STATISTICS
	16.	HOW IT WORK
	17.	APP SUPPORT
	18.	TESTIMONIALS
	19.	OUR TEAM
	20.	DOWNLOAD APP FOR FREE
	21.	FOOTER
	22.	RESPONSIVE FIXES

*/

@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext';

*{ outline:none !important;}
body{ margin:0; padding:0; font-family: 'Lato', sans-serif; font-size:15px; background:#f6f6f6; color:#171838; -webkit-font-smoothing: antialiased;}
body{ height:100%;}
html{ height:100%;}


/* HTML ELEMENTS */
img{ max-width:100%;}
p{ margin-bottom:15px;}
b{ font-weight:700;}
strong{ font-weight:700;}


/* FORM ELEMENTS */
input[type="text"]{ width:100%; height:56px; background:none; border:none; border-bottom:2px solid #797a9e; padding:0 20px; font-size:20px; color:#797a9e;}
input[type="text"]:focus{ border-bottom:2px solid #1ad5b1; color:#fff;}
textarea{ width:100%; height:140px; background:none; border:none; border-bottom:2px solid #797a9e; padding:20px; font-size:20px; color:#797a9e;}
textarea:focus{ border-bottom:2px solid #1ad5b1; color:#fff;}
button[type="submit"]{ border:none; background:none;}
button[type="button"]{ border:none; background:none;}
.form-group{ width:100%; float:left;}


/* TRANSITION */
.transition{-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-ms-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
.transition *{-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-ms-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}


/* CUSTOM FANCYBOX*/
.fancybox-overlay{ background:rgba(0,0,0,0.8);}
.fancybox-opened .fancybox-skin{ box-shadow:none;}
.fancybox-opened .fancybox-skin{ border-radius:0;}


/* PARALLAX CONTET */
.parallax-content{ width:100%; float:left; position:relative;}
.parallax-content .parallax-object{ position:absolute; left:0;}


/* VERTICAL MIDDLE */
.ver-middle{ width:100%; height:100%; display:table;}
.ver-middle .inner{ display:table-cell; vertical-align:middle;}


/* VERTICAL BOTTOM */
.ver-bottom{ width:100%; height:100%; display:table;}
.ver-bottom .inner{ display:table-cell; vertical-align:bottom;}


/* BUTTONS */
.btn-green{ height:56px; line-height:56px; display:inline-block; letter-spacing:1px; background:#1ad5b1; padding:0 40px; font-size:16px; font-weight:900; color:#fff; border-radius:5px; box-shadow:0 23px 35px rgba(26,213,177,0.33);}
.btn-green i{ font-size:25px; float:left; margin-right:10px; margin-top:16px;}
.btn-green:hover{ background:#1efcd0; text-decoration:none; color:#171838;}
.btn-blue{ height:56px; line-height:56px; display:inline-block; letter-spacing:1px; background:#7570ff; padding:0 40px; font-size:16px; font-weight:900; color:#fff; border-radius:5px; box-shadow:0 23px 35px rgba(117,112,255,0.33);}
.btn-blue i{ font-size:25px; float:left; margin-right:10px; margin-top:16px;}
.btn-blue:hover{ background:#1efcd0; text-decoration:none; color:#171838;}
.btn-red{ height:56px; line-height:56px; display:inline-block; letter-spacing:1px; background:#fe4967; padding:0 40px; font-size:16px; font-weight:900; color:#fff; border-radius:5px; box-shadow:0 23px 35px rgba(254,73,103,0.33);}
.btn-red i{ font-size:25px; float:left; margin-right:10px; margin-top:16px;}
.btn-red:hover{ background:#6eb2fb; text-decoration:none; color:#fff;}


/* PRELOADER */
.preloader{ width:100%; height:100%; position:fixed; left:0; top:0; background:url(../images/preloader.gif) center no-repeat #fff; z-index:9;}
.preloader{-webkit-transition: all 0.7s ease; -moz-transition: all 0.7s ease; -ms-transform:all 0.7s ease; transition: all 0.7s ease;}
.page-loaded .preloader{transform: translateY(-100%); -o-transform:translateY(-100%); -ms-transform:translateY(-100%); -webkit-transform:translateY(-100%);}	
.page-loaded .header{transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0);}
.page-loaded .navbar-default{transform: translateY(0); transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0);}


/* HEADER BLOG */
.header-blog{ width:100%; float:left;}
.header-blog .navbar-default{ margin-bottom:0; border-bottom:2px solid #e6e6ef;}
.header-blog .navbar-default .navbar-nav li a:hover{ color:#171838;}
.blog-sub-header{ width:100%; float:left; background:url(../images/blog-sub-header-bg.png) center no-repeat; padding:140px 0; text-align:center;}
.blog-sub-header h2{ font-size:70px; font-weight:900; margin:0;}


/* BLOG CONTAINER */
.blog-container{ width:100%; float:left;}
.blog-container .post-box{ width:100%; float:left; border-bottom:2px solid #e7e8ec; margin-bottom:140px;}
.blog-container .post-box .post-image{ width:100%; float:left; margin-bottom:30px;}
.blog-container .post-box .post-image img{ width:100%; border-radius:8px;}
.blog-container .post-box .post-content{ width:100%; float:left;}
.blog-container .post-box .post-content .post-metas{ width:100%; float:left; margin-bottom:30px;}
.blog-container .post-box .post-content .post-metas .author{ float:left; margin-right:30px;}
.blog-container .post-box .post-content .post-metas .author img{ float:left; border-radius:50%; border:4px solid #7570ff; margin-right:10px;}
.blog-container .post-box .post-content .post-metas .author .author-name{ width:200px; display:block; font-weight:900; color:#4b4c65; margin-top:10px;}
.blog-container .post-box .post-content .post-metas .author .post-date{ width:200px; display:block; color:#8a8a9c;}
.blog-container .post-box .post-content .post-metas .comments{ float:left; line-height:60px; color:#4b4c65; font-weight:900; margin-right:30px;}
.blog-container .post-box .post-content .post-metas .comments img{ margin-right:7px;}
.blog-container .post-box .post-content .post-metas .tags{ float:left; line-height:60px; color:#4b4c65; font-weight:900;}
.blog-container .post-box .post-content .post-metas .tags img{ margin-right:7px;}
.blog-container .post-box .post-content .post-metas .tags a{ color:#4b4c65; text-decoration:underline;}
.blog-container .post-box .post-content .post-metas .tags a:hover{ color:#7d78fe;}
.blog-container .post-box .post-content .post-title{ width:100%; float:left; margin-top:0; margin-bottom:24px; font-size:40px; font-weight:900;}
.blog-container .post-box .post-content .post-title a{ color:#171838;}
.blog-container .post-box .post-content .paragraph{ width:100%; float:left; font-size:18px; line-height:29px; color:#4b4c65; margin-bottom:40px;}
.blog-container .post-box .post-content blockquote{ width:100%; float:left; border-left:5px solid #1ad5b1; margin-bottom:40px;}
.blog-container .post-box .post-content blockquote p{ font-size:25px; line-height:35px; font-style:italic;}
.blog-container .post-box .post-content blockquote h5{ color:#1ad5b1; font-size:18px; font-weight:900;}
.blog-container .post-box .post-content .post-bottom-metas{ width:100%; float:left; border-top:2px solid #e8e8ec; padding-top:20px; margin-bottom:50px;}
.blog-container .post-box .post-content .post-bottom-metas .tags{ width:50%; float:left; margin:0; padding:0;}
.blog-container .post-box .post-content .post-bottom-metas .tags li{ float:left; margin-right:10px; margin-bottom:10px; list-style:none;}
.blog-container .post-box .post-content .post-bottom-metas .tags li a{ height:31px; float:left; line-height:31px; padding:0 18px; background:#ebebf4; color:#7570ff; font-weight:900; border-radius:4px;}
.blog-container .post-box .post-content .post-bottom-metas .tags li a:hover{ background:#7570ff; color:#fff; text-decoration:none;}
.blog-container .post-box .post-content .related-articles{ width:100%; float:left;}
.blog-container .post-box .post-content .related-articles .title{ font-size:50px; font-weight:900; margin-bottom:40px;}
.blog-container .post-box .post-content .related-articles .post{ width:100%; float:left; margin-bottom:40px;}
.blog-container .post-box .post-content .related-articles .post img{ width:100%; float:left; margin-bottom:10px; border-radius:4px;}
.blog-container .post-box .post-content .related-articles .post h5{ font-size:20px; font-weight:900;}
.blog-container .post-box .post-content .related-articles .post h5 a{ color:#171838;}
.blog-container .post-box .post-content .related-articles .post h5 a:hover{ color:#1ad5b1;}
.blog-container .post-box .post-content .btn-green{ float:left; margin-bottom:-30px; margin-left:40px;}
.blog-container .post-box .post-content .back-btn{ float:left; color:#1ad5b1; margin-bottom:40px; font-weight:900;}


/* BLOG SIDEBAR */
.blog-container .sidebar{ width:100%; float:left;}
.blog-container .sidebar .title{ font-size:30px; font-weight:900; margin-top:0; margin-bottom:30px;}
.blog-container .sidebar .categories{ width:100%; float:left; border-bottom:2px solid #e8e8ec; margin-bottom:50px; padding-bottom:50px;}
.blog-container .sidebar .categories ul{ width:100%; float:left; margin:0; padding:0;}
.blog-container .sidebar .categories ul li{ width:100%; float:left; margin:0; margin-bottom:15px; padding:0; list-style:none;}
.blog-container .sidebar .categories ul li a{ float:left; color:#4b4c65; font-weight:900;}
.blog-container .sidebar .categories ul li span{ width:23px; height:23px; float:right; text-align:center; line-height:23px; background:#b0b0c5; color:#fff; border-radius:50%;}
.blog-container .sidebar .categories ul li:hover a{ color:#7570ff;}
.blog-container .sidebar .categories ul li:hover span{ background:#7570ff;}
.blog-container .sidebar .popular{ width:100%; float:left; border-bottom:2px solid #e8e8ec; margin-bottom:50px; padding-bottom:50px;}
.blog-container .sidebar .popular .post{ width:100%; float:left; margin-bottom:20px;}
.blog-container .sidebar .popular .post img{ float:left; border-radius:50%; margin-right:12px;}
.blog-container .sidebar .popular .post h5{ margin-top:0; margin-bottom:4px; font-weight:900; line-height:20px;}
.blog-container .sidebar .popular .post h5 a{ color:#4b4c65;}
.blog-container .sidebar .popular .post h5 a:hover{ color:#7570ff;}
.blog-container .sidebar .popular .post small{ font-size:13px; color:#8a8a9c;}
.blog-container .sidebar .text-widget{ width:100%; float:left; border-bottom:2px solid #e8e8ec; margin-bottom:50px; padding-bottom:50px;}
.blog-container .sidebar .text-widget img{ width:100%; margin-bottom:15px;}
.blog-container .sidebar .text-widget p{ font-size:16px; line-height:23px; color:#4b4c65; margin:0;}
.blog-container .sidebar .tags{ width:100%; float:left; border-bottom:2px solid #e8e8ec; margin-bottom:50px; padding-bottom:50px;}
.blog-container .sidebar .tags ul{ width:100%; float:left; margin:0; padding:0;}
.blog-container .sidebar .tags ul li{ float:left; margin-right:10px; margin-bottom:10px; list-style:none;}
.blog-container .sidebar .tags ul li a{ height:31px; float:left; line-height:31px; padding:0 18px; background:#ebebf4; color:#7570ff; font-weight:900; border-radius:4px;}
.blog-container .sidebar .tags ul li a:hover{ background:#7570ff; color:#fff; text-decoration:none;}
.blog-container .sidebar .instagram{ width:100%; float:left;}
.blog-container .sidebar .instagram ul{ margin:0; padding:0; margin-left:-5px; margin-right:-5px;}
.blog-container .sidebar .instagram ul li{ width:33.33333%; float:left; margin:0; padding:5px; list-style:none;}
.blog-container .sidebar .instagram ul li img{ width:100%; border-radius:4px;}

/* PAGINATION */
.pagination{ width:100%; float:left; text-align:center; margin-bottom:150px;}
.pagination li{ float:none; display:inline-block;}
.pagination li.prev{ float:left;}
.pagination li.prev a{ width:auto;}
.pagination li.prev i{ font-size:14px; float:left; margin-top:5px; margin-right:8px;}
.pagination li.next{ float:right;}
.pagination li.next a{ width:auto;}
.pagination li.next i{ font-size:14px; float:right; margin-top:5px; margin-left:8px;}
.pagination li a{ width:35px; height:35px; border-radius:50%; border:none; background:none; font-size:16px; color:#4b4c65; font-weight:900;}
.pagination li a:hover{ background:none; color:#7570ff;}
.pagination li.active a{ background:#7570ff;}
.pagination li.active a:hover{ background:#1ad5b1;}

/* DEMO HOME */
.hero{ width:100%; height:776px; float:left; background:url(../images/demo-hero-bg.jpg) center no-repeat #706cff; text-align:center;}
.hero .logo{ margin-bottom:52px; margin-top:170px;}
.hero h3{ font-size:50px; font-weight:900; color:#fff; margin-top:0; margin-bottom:50px;}
.hero a{ margin:0 30px; margin-bottom:15px; box-shadow:0 23px 35px rgba(0,0,0,0.33)}
.hero .inner{vertical-align: top;}
.demos{ width:100%; float:left; padding-top:100px; text-align:center;}
.demos h3{ font-size:80px; font-weight:900; margin-bottom:61px;}
.demos h2{ font-size:50px; font-weight:900; margin-bottom:30px; margin-top:0;}
.demos a{ width:100%; float:left;}
.demos a img{ width:100%;}
.demos a:hover img{ opacity:0.6;}
.demos .btn-green{ width:auto; float:none; display:inline-block; margin-bottom:100px;}
.demos h6{ width:100%; float:left; font-weight:900; font-size:22px; margin-top:-50px; margin-bottom:100px; position:relative; z-index:2;}
.demo-footer{ width:100%; float:left; background:#17173b; text-align:center; padding:30px 0; margin-top:60px; color:#fff;}
.demo-footer p{ margin:0; opacity:0.6;}
.demo-footer a{ color:#fff; text-decoration:underline;}


/* NAVBAR */
.navbar-default{ background:none; border:none; padding:10px 0;}
.navbar-default{transform: translateY(-100%); -moz-transform:translateY(-100%); -ms-transform:translateY(-100%); -o-transform:translateY(-100%); -webkit-transform:translateY(-100%);}
.navbar-default{ transition-delay:0.7s !important; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -ms-transform:all 0.4s ease; transition: all 0.4s ease;}
.navbar-default .navbar-brand{ height:auto;}
.navbar-default .navbar-brand img{ height:38px;}
.navbar-default .navbar-nav{ margin-top:10px;}
.navbar-default .navbar-nav li{ float:left;}
.navbar-default .navbar-nav li a{ color:#77778c; font-size:13px; font-weight:900; letter-spacing:1px;}
.navbar-default .navbar-nav li a:hover{ color:#fff;}


/* HEADER */
.header{ width:100%; height:100%; float:left; background:url(../images/header-main-pattern-bg.png) center no-repeat #171838; position:relative; transition-delay:0.7s; overflow:hidden; text-align:center;}
.header{-webkit-transition: all 0.7s ease; -moz-transition: all 0.7s ease; -ms-transform:all 0.7s ease; transition: all 0.7s ease;}
.header{transform: translateY(50%); -moz-transform:translateY(50%); -ms-transform:translateY(50%); -o-transform:translateY(50%); -webkit-transform:translateY(50%); }
.header .iphone-mockup{ height:100%; position:absolute; left:-22%; bottom:-25%;}
.header h1{ color:#fff; font-size:100px; font-weight:900; line-height:100px; margin-bottom:50px;}
.header .btn-appstore{ height:78px; display:inline-block; background:#7570ff; border-radius:5px; padding:0 30px; box-shadow:0 20px 55px rgba(0,0,0,0.33); margin-right:50px; color:#fff; text-align:left; margin-bottom:5%;}
.header .btn-appstore img{ float:left; height:38px; margin:20px 0; margin-right:15px;}
.header .btn-appstore span{ display:inline-block; margin-top:15px; opacity:0.55;}
.header .btn-appstore h3{ width:186px; display:block; font-size:23px; font-weight:900;margin:0; letter-spacing:1px;}
.header .btn-appstore:hover{ text-decoration:none; background:#8a8aff; color:#171838;}
.header .btn-googleplay{ height:78px; display:inline-block; background:#1ad5b1; border-radius:5px; padding:0 30px; box-shadow:0 20px 55px rgba(0,0,0,0.33); color:#fff; text-align:left;}
.header .btn-googleplay img{ float:left; height:38px; margin:20px 0; margin-right:15px;}
.header .btn-googleplay span{ display:inline-block; margin-top:15px; opacity:0.55;}
.header .btn-googleplay h3{ width:220px; display:block;font-size:23px;font-weight:900;margin:0; letter-spacing:1px;}
.header .btn-googleplay:hover{ text-decoration:none; background:#1efcd0; color:#171838;}


/* ABOUT APP */
.about-app{ width:100%; float:left; padding-top:50px; padding-bottom:200px;}
.about-app h2{ font-size:60px; font-weight:900; color:#15164b; margin-top:22%; margin-bottom:40px;}
.about-app p{ font-size:22px; line-height:29px; display:block;}
.about-app .btn-green{ display:inline-block; margin-top:60px;}
.about-app #video{ display:none;}


/* OUR FEATURES */
.our-features{ width:100%; float:left; padding-top:120px; text-align:center;}
.our-features .title{ font-size:80px; font-weight:900; margin-top:0; margin-bottom:100px;}
.our-features .icon{ display:inline-block; margin-bottom:60px;}
.our-features .icon img{ width:70px; margin-bottom:30px;}
.our-features .icon figcaption{ width:100%; float:left; padding:0 35px;}
.our-features .icon figcaption h4{ font-size:30px; font-weight:900; margin-bottom:20px;}
.our-features .icon figcaption p{ font-size:17px; color:#77778c; margin:0; line-height:29px;}


/* DOWNLOAD FOR FREE */
.download-for-free{ width:100%; float:left; padding:160px 0; background:url(../images/hero1.jpg) center no-repeat;}
.download-for-free h2{ font-size:50px; font-weight:900; color:#fff; margin-top:0; margin-bottom:25px;}
.download-for-free p{ font-size:22px; line-height:29px; opacity:0.83; color:#fff; margin-bottom:70px;}
.download-for-free .btn-appstore{ height:78px; display:inline-block; border-radius:5px; padding:0 20px; margin-right:50px; color:#fff; border:2px solid #fff;}
.download-for-free .btn-appstore img{ float:left; height:38px; margin:18px 0; margin-right:15px; -webkit-filter: brightness(1) invert(1); filter: brightness(1) invert(1); }
.download-for-free .btn-appstore span{ display:inline-block; margin-top:14px; opacity:0.55;}
.download-for-free .btn-appstore h3{ width:186px; display:block; font-size:23px; font-weight:900; margin:0; letter-spacing:1px;}
.download-for-free .btn-appstore:hover{ text-decoration:none; background:#171838; border:2px solid #171838;  box-shadow:0 20px 55px rgba(0,0,0,0.33);}
.download-for-free .btn-googleplay{ height:78px; display:inline-block; border-radius:5px; padding:0 20px; margin-right:50px; color:#fff; border:2px solid #fff;}
.download-for-free .btn-googleplay img{ float:left; height:38px; margin:18px 0; margin-right:15px; -webkit-filter: brightness(1) invert(1); filter: brightness(1) invert(1); }
.download-for-free .btn-googleplay span{ display:inline-block; margin-top:14px; opacity:0.55;}
.download-for-free .btn-googleplay h3{ width:220px; display:block; font-size:23px; font-weight:900; margin:0; letter-spacing:1px;}
.download-for-free .btn-googleplay:hover{ text-decoration:none; background:#171838; border:2px solid #171838;  box-shadow:0 20px 55px rgba(0,0,0,0.33);}


/* SCREENSHOT */
.screenshots{ width:100%; float:left; padding:100px 0; text-align:center;}
.screenshots .title{ font-weight:900; font-size:80px; margin-bottom:50px;}
.screenshots .nav-tabs{ display:inline-block; border:none; margin-bottom:10px;}
.screenshots .nav-tabs li{ float:left;}
.screenshots .nav-tabs li.active a{ border-bottom:3px solid #1ad5b1; color:#171838; letter-spacing:1px;}
.screenshots .nav-tabs li.active a:hover{ background:none; border:none; border-bottom:3px solid #1ad5b1; color:#171838;}
.screenshots .nav-tabs li.active a:focus{ background:none; border:none; border-bottom:3px solid #1ad5b1; }
.screenshots .nav-tabs li a{ color:#bdbdce; font-size:17px; font-weight:900; background:none; border:none; border-bottom:3px solid transparent;}
.screenshots .nav-tabs li a:hover{ color:#1ad5b1;}
.screenshots .tab-content{ width:100%; float:left;}
.screenshots .screenshot-carousel{ width:100%; float:left; margin:0; padding:0;}
.screenshots .screenshot-carousel li{ list-style:none; margin:0; padding:140px 0; text-align:center;}
.screenshots .screenshot-carousel li img{ width:220px; display:inline-block; border-radius:12px; box-shadow:0 0 30px rgba(0,0,0,0.1);}
.screenshots .screenshot-carousel .center{ padding:0; background:url(../images/screenshot-iphone-mockup.jpg) center no-repeat; background-size:cover; background-size:400px 717px;}
.screenshots .screenshot-carousel .center img{ width:251px; box-shadow:none; border-radius:0;}
.screenshots .owl-controls{ width:100%; float:left; text-align:center; position:relative; z-index:9;}
.screenshots .owl-controls .owl-nav{ width:410px; display:inline-block;}
.screenshots .owl-controls .owl-prev{ float:left; text-indent:-9999px; font-size:50px; color:#c6c7d8; margin-top:-113%;}
.screenshots .owl-controls .owl-prev:before{content:"\f104"; font-family:fontAwesome; float:left; text-indent:0;}
.screenshots .owl-controls .owl-prev:hover{ color:#7570ff;}
.screenshots .owl-controls .owl-next{ float:right; text-indent:-9999px; font-size:50px; color:#c6c7d8; margin-top:-113%;}
.screenshots .owl-controls .owl-next:before{content:"\f105"; font-family:fontAwesome; float:left; text-indent:0;}
.screenshots .owl-controls .owl-next:hover{ color:#7570ff;}


/* APP STATISTICS */
.app-statistics{ width:100%; float:left; text-align:center;}
.app-statistics .title{ font-size:60px; font-weight:900; margin-bottom:50px;}
.app-statistics .statistic-bar{ width:100%; height:415px; float:left; background:url(../images/app-statistic-bar.png) center no-repeat;}
.app-statistics .counter{ display:inline-block; float:none;}
.app-statistics .counter .symbol{ display:inline-block; font-size:70px; color:#1ad5b1; transform: translateY(20px);}
.app-statistics .counter .number{ display:inline-block; font-size:70px; color:#1ad5b1; padding:0;}
.app-statistics .counter .number span{ padding:0;}
.app-statistics .counter .number .odometer-digit{padding-right:5px;}
.app-statistics .counter h5{ width:100%; float:left; font-size:30px; font-weight:900; margin-top:-5px;}


/* OUR PRICING */
.our-pricing{ width:100%; float:left; background:url(../images/pricing-line-bg.png) bottom center no-repeat #171838; padding-bottom:200px; padding-top:150px; text-align:center;}
.our-pricing .title{ font-size:80px; font-weight:900; margin-bottom:130px; color:#fff;}
.our-pricing .no-margin{ margin:0;}
.our-pricing .no-padding{ padding:0;}
.our-pricing .price-box{ width:100%; float:left; background:#fff; border-radius:12px; padding-bottom:72px; overflow:hidden; box-shadow:0 0 87px rgba(0,0,0,0.34);}
.our-pricing .price-box.grey-bg{ background:#f6f7fa;}
.our-pricing .price-box.left{ border-radius:12px 0 0 12px;}
.our-pricing .price-box.right{ border-radius:0 12px 12px 0;}
.our-pricing .price-box.center{ position:relative; z-index:2; margin-top:-60px; padding-bottom:100px;}
.our-pricing .price-box .green-header{ width:150%; float:left; background:#1ad5b1; border-radius:50%; margin-left:-25%; padding:77px 0; margin-top:-50px;}
.our-pricing .price-box .green-header .stars{ width:100%; float:left; color:#fff; font-size:20px;}
.our-pricing .price-box .green-header .stars .big{ font-size:25px;}
.our-pricing .price-box .green-header .package-type{ width:100%; float:left; font-size:21px; font-weight:900; color:#fff; margin-top:10px; letter-spacing:1px;}
.our-pricing .price-box .green-header .price{ width:100%; float:left; font-size:88px; color:#fff;}
.our-pricing .price-box .green-header .price .currency{ font-size:42px; font-weight:300; margin-right:-24px;}
.our-pricing .price-box .green-header .price .per-month{ width:100%; float:left; font-size:17px; margin-top:-20px;}
.our-pricing .price-box .white-header{ width:150%; float:left; background:#fff; border-radius:50%; margin-left:-25%; padding:77px 0; margin-top:-50px;}
.our-pricing .price-box .white-header .price{ width:100%; float:left; font-size:88px; color:#7570ff;}
.our-pricing .price-box .white-header .price .currency{ font-size:42px; font-weight:300; margin-right:-24px;}
.our-pricing .price-box .white-header .price .per-month{ width:100%; float:left; font-size:17px; margin-top:-20px;}
.our-pricing .price-box .package-list{ width:100%; float:left; margin:0; margin-bottom:50px; margin-top:26px; padding:0;}
.our-pricing .price-box .package-list li{ width:100%; float:left; list-style:none; margin:5px 0; padding:0; font-size:17px;}
.our-pricing .price-box .package-list li.disabled{ opacity:0.7;}
.our-pricing .price-box .btn-green{ border-radius:56px;}
.our-pricing .price-box .btn-blue{ border-radius:56px;}


/* TESTIMONIALS */
.testimonials{ width:100%; float:left; background:#7570ff; padding:130px 0;}
.testimonials .title{ font-size:80px; font-weight:900; color:#fff; margin-top:0; margin-bottom:50px;}
.testimonials .testimonials-carousel{ width:100%; float:left;}
.testimonials .testimonials-carousel .item{ padding:32px;}
.testimonials .testimonial-box-left{ width:500px; float:left;}
.testimonials .testimonial-box-right{ width:500px; float:right;}
.testimonials .testimonial-box{ width:100%; float:left; background:#fff; box-shadow:0 0 32px rgba(0,0,0,0.15); padding:44px; border-radius:6px 6px 6px 0; position:relative;}
.testimonials .testimonial-box:after{content:""; width:27px; height:13px; background:url(../images/testimonial-triangle.png) no-repeat; position:absolute; left:0; bottom:-13px;}
.testimonials .testimonial-box p{ font-size:18px; line-height:28px; margin:0;}
.testimonials .testimonial-user{ width:100%; float:left; padding-top:40px; padding-left:30px;}
.testimonials .testimonial-user img{ width:auto; height:auto; border-radius:50%; float:left; margin-right:15px;}
.testimonials .testimonial-user h5{ font-size:20px; font-weight:900; color:#fff; margin-bottom:0; margin-top:20px;}
.testimonials .testimonial-user span{ color:#4b48a7; font-size:15px; font-weight:700;}
.testimonials .owl-nav{ width:100%; float:left;}
.testimonials .owl-nav .owl-prev{ float:left; text-indent:-9999px; opacity:0.3; margin-top:-250px; margin-left:-20px;}
.testimonials .owl-nav .owl-prev:hover{ opacity:0.6;}
.testimonials .owl-nav .owl-prev:before{content:"\f053"; float:left; text-indent:0; font-family:fontAwesome; color:#fff; font-size:30px;}
.testimonials .owl-nav .owl-next{ float:right; text-indent:-9999px; opacity:0.3; margin-top:-250px; margin-right:-20px;}
.testimonials .owl-nav .owl-next:hover{ opacity:0.6;}
.testimonials .owl-nav .owl-next:before{content:"\f054"; float:left; text-indent:0; font-family:fontAwesome; color:#fff; font-size:30px;}


/* WHY CHOOSE US */
.why-choose-us{ width:100%; float:left; padding:100px 0;}
.why-choose-us .title{font-size:60px; font-weight:900; margin-top:0; margin-bottom:50px;}
.why-choose-us .mockup-bg{ width:100%; height:271px; float:left; margin-bottom:40px; background:url(../images/why-choose-us-bg.jpg) top center no-repeat;}
.why-choose-us h4{ font-size:24px; font-weight:900; margin-bottom:20px;}
.why-choose-us p{ font-size:17px; color:#77778c; line-height:29px;}


/* DOWNLOAD APP FOR FREE */
.download-app-for-free{ width:100%; float:left; padding-top:50px; text-align:center; background:url(../images/download-app-pattern-bg.png) center no-repeat;}
.download-app-for-free .title{font-size:60px; font-weight:900; margin-top:0; margin-bottom:70px;}
.download-app-for-free .mockup{ max-width:100%; display:inline-block; margin-top:150px;}
.download-app-for-free .btn-appstore{ height:78px; display:inline-block; background:#1ad5b1; border-radius:5px; padding:0 30px; box-shadow:0 20px 55px rgba(26,213,177,0.33); margin-right:50px; color:#fff; text-align:left;}
.download-app-for-free .btn-appstore img{ float:left; height:38px; margin:20px 0; margin-right:15px; -webkit-filter: brightness(1) invert(1); filter: brightness(1) invert(1); }
.download-app-for-free .btn-appstore span{ float:left; margin-top:15px; opacity:0.55;}
.download-app-for-free .btn-appstore h3{ width:186px; display:block; font-size:23px; font-weight:900; margin:0; letter-spacing:1px;}
.download-app-for-free .btn-appstore:hover{ text-decoration:none; background:#1efcd0; color:#171838;}
.download-app-for-free .btn-appstore:hover img{-webkit-filter: brightness(0) invert(0); filter: brightness(0) invert(0);}
.download-app-for-free .btn-googleplay{ height:78px; display:inline-block; background:#7570ff; border-radius:5px; padding:0 30px; box-shadow:0 20px 55px rgba(117,112,255,0.33); color:#fff; }
.download-app-for-free .btn-googleplay img{ float:left; height:38px; margin:20px 0; margin-right:15px; -webkit-filter: brightness(1) invert(1); filter: brightness(1) invert(1); }
.download-app-for-free .btn-googleplay span{ float:left; margin-top:15px; opacity:0.55;}
.download-app-for-free .btn-googleplay h3{ width:220px; display:block; font-size:23px; font-weight:900; margin:0; letter-spacing:1px;}
.download-app-for-free .btn-googleplay:hover{ text-decoration:none; background:#8a8aff; color:#171838;}
.download-app-for-free .btn-googleplay:hover img{-webkit-filter: brightness(0) invert(0); filter: brightness(0) invert(0);}


/* FOOTER */
.footer{ width:100%; float:left; background:#171838; text-align:center; padding:30px 0;}
.footer .title{ font-size:30px; font-weight:900; color:#fff; margin:30px 0;}
.footer form{ width:100%; max-width:550px; display:inline-block; border-bottom:2px solid #797a9e; padding:15px 0; margin-bottom:30px;}
.footer form:hover{ border-bottom:2px solid #1ad5b1;}
.footer form input[type="text"]{ width:80%; height:51px; float:left; border:none; background:none; font-size:20px; color:#fff;}
.footer form button[type="submit"]{ width:51px; height:51px; float:right; border-radius:50%; background:#5d5acd; border:none; font-size:18px;}
.footer form button[type="submit"]:hover{ background:#1efcd0; box-shadow:0 20px 55px rgba(0,0,0,0.33);}
.footer .social-media{ display:inline-block; margin:0; padding:0;}
.footer .social-media li{ float:left; margin:0 6px; padding:0; list-style:none;}
.footer .social-media li a{ width:42px; height:42px; float:left; text-align:center; line-height:38px; border:2px solid #3d3d58; border-radius:50%; color:#fff;}
.footer .social-media li a:hover{ background:#5d5acd; border:2px solid #5d5acd;}


@media only screen and (max-width: 1169px), only screen and (max-device-width: 1169px) {
.header h1{ font-size:60px;}
.header .iphone-mockup{left:-28%;}
.header .btn-appstore{ margin-right:30px;}
.download-for-free .btn-appstore{ margin-right:4px;}
.testimonials .testimonial-box-left{ width:420px;}
.testimonials .testimonial-box-right{ width:420px;}
}

@media only screen and (max-width: 979px), only screen and (max-device-width: 979px) {
.navbar-header{ width:100%; text-align:center;}
.navbar-header .navbar-brand{ float:none; display:inline-block;}
.navbar-right{ width:100%;}
.ver-bottom .inner{ vertical-align:middle;}
.header h1{ font-size:90px;}
.header .iphone-mockup{left:-45%;}
.header .btn-appstore{ margin-bottom:20%;}
.our-features .icon figcaption{ padding:0;}
.our-features .icon figcaption h4{ font-size:26px;}
.app-statistics .counter h5{ margin-bottom:50px;}
.app-statistics .counter .number{ font-size:46px;}
.app-statistics .counter .symbol{ font-size:46px; transform:translateY(11px);}
.how-it-work .text-center{ text-align:left;}
.our-pricing .price-box .green-header .price{ font-size:60px;}
.our-pricing .price-box .green-header .price .currency{ font-size:28px; margin-right:-15px;}
.our-pricing .price-box .white-header .price{ font-size:60px;}
.our-pricing .price-box .white-header .price .currency{ font-size:28px; margin-right:-15px;}
.app-support .contact-us{ padding-left:0;}
.why-choose-us p{ margin-bottom:50px;}
.testimonials .title{ font-size:60px;}
.testimonials .testimonial-box-left{ width:100%;}
.testimonials .testimonial-box-right{ width:100%;}
.testimonials .owl-nav{ display:none;}
.testimonials .testimonial-box p{ font-size:22px; line-height:32px;}
.testimonials .testimonial-user h5{ font-size:30px; margin-top:10px;}
.testimonials .testimonial-user span{ font-size:20px;}

}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
.header .left-side{ display:none;}
.header{ width:100%; padding-left:15px; padding-right:15px;}
.header h1{ font-size:50px; line-height:60px; margin-bottom:30px;}
.header h1 b{ font-size:80px;}
.header .mockup{ margin-top:20px;}
.header .ver-middle{ padding-left:0;}
.header .navbar-default{ margin-bottom:0;}
.header .navbar-header{ width:auto; text-align:left; }
.header .navbar-nav li{ width:100%;}
.header .navbar-header .navbar-toggle{ border:none; margin:28px 0; padding:0; border-radius:none !important;}
.header .navbar-header .navbar-toggle .icon-bar{ background:#fff;}
.header .btn-appstore{ width:100%; margin-bottom:20px;}
.header .btn-googleplay{ width:100%;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{ background:none;}
.navbar-default .navbar-brand{ padding-left:0;}
.ver-bottom .inner{ vertical-align:top;}
.our-features .title{ font-size:50px;}
.about-app{ margin-top:0;}
.about-app h2{ margin-top:0;}
.screenshots .owl-controls .owl-nav{ display:none;}
.download-for-free .btn-appstore{ width:100%; margin-bottom:30px;}
.download-for-free .btn-googleplay{ width:100%;}
.how-it-work .title{ font-size:50px;}
.app-statistics .counter .number{ font-size:36px;}
.app-statistics .counter .symbol{ font-size:36px;}
.app-statistics .counter h5{ margin-bottom:30px;}
.our-pricing .title{ font-size:50px;}
.our-pricing .price-box.left{ border-radius:12px;}
.our-pricing .price-box.right{ border-radius:12px;}
.our-pricing .price-box.center{ margin:15px 0;}
.app-support .say-hello .half{ width:100%; padding:0;}
.app-support .say-hello .half.first{ margin:0;}
.app-support .say-hello .half.last{ margin:0;}
.download-app-for-free .btn-appstore{ margin-right:0; margin-bottom:30px;}
.screenshots .screenshot-carousel .center{ background:none;}
.screenshots .title{ font-size:50px;}
.testimonials .title{ font-size:50px;}
.testimonials .owl-nav{ display:none;}
.testimonials .testimonials-carousel .item{ padding:0;}
.why-choose-us .title{ font-size:50px;}
.why-choose-us p{ margin-bottom:50px;}
.download-app-for-free .title{ font-size:50px;}
.download-app-for-free .btn-appstore{ width:100%;}
.download-app-for-free .btn-googleplay{ width:100%;}
.download-app-for-free .mockup{ margin-top:50px;}
.demos h6{ margin-top:-30px;}
.blog-container .post-box .post-content .post-bottom-metas .tags{ width:100%;}
.pagination li{ display:none;}
.pagination li.prev{ display:block;}
.pagination li.next{ display:block;}
.pagination li.active{display:inline-block;}
.header-blog .navbar-default .navbar-toggle{ margin-top:20px;}
.header-blog .navbar-default .navbar-nav li{ width:100%; text-align:center;}
}
