/* TABLE OF CONTENTS 

	1.	BODY	
	2.	HTML ELEMENTS
	3.	FORM ELEMENTS
	4.	TRANSITION
	5.	CUSTOM FANCYBOX
	6.	PARALLAX CONTENT
	7.	VERTICAL MIDDLE
	8.	BUTTONS
	9.	PRELOADER
	10.	NAVBAR
	11.	HEADER
	12.	ABOUT APP
	13.	DOWNLOAD FOR FREE
	14.	SCREENSHOTS
	15.	APP STATISTICS
	16.	HOW IT WORK
	17.	APP SUPPORT
	18.	TESTIMONIALS
	19.	OUR TEAM
	20.	DOWNLOAD APP FOR FREE
	21.	FOOTER
	22.	RESPONSIVE FIXES

*/

@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext';

*{ outline:none !important;}
body{ margin:0; padding:0; font-family: 'Lato', sans-serif; font-size:15px; background:#f6f6f6; color:#171838; -webkit-font-smoothing: antialiased;}
body{ height:100%;}
html{ height:100%;}


/* HTML ELEMENTS */
img{ max-width:100%;}
p{ margin-bottom:15px;}
b{ font-weight:700;}
strong{ font-weight:700;}


/* FORM ELEMENTS */
input[type="text"]{ width:100%; height:56px; background:none; border:none; border-bottom:2px solid #797a9e; padding:0 20px; font-size:20px; color:#797a9e;}
input[type="text"]:focus{ border-bottom:2px solid #1ad5b1; color:#fff;}
textarea{ width:100%; height:140px; background:none; border:none; border-bottom:2px solid #797a9e; padding:20px; font-size:20px; color:#797a9e;}
textarea:focus{ border-bottom:2px solid #1ad5b1; color:#fff;}
button[type="submit"]{ border:none; background:none;}
button[type="button"]{ border:none; background:none;}
.form-group{ width:100%; float:left;}


/* TRANSITION */
.transition{-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-ms-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
.transition *{-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-ms-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}


/* CUSTOM FANCYBOX*/
.fancybox-overlay{ background:rgba(0,0,0,0.8);}
.fancybox-opened .fancybox-skin{ box-shadow:none;}
.fancybox-opened .fancybox-skin{ border-radius:0;}


/* PARALLAX CONTET */
.parallax-content{ width:100%; float:left; position:relative;}
.parallax-content .parallax-object{ position:absolute; left:0;}


/* VERTICAL MIDDLE */
.ver-middle{ width:100%; height:100%; display:table;}
.ver-middle .inner{ display:table-cell; vertical-align:middle;}


/* BUTTONS */
.btn-green{ height:56px; line-height:56px; display:inline-block; background:#1ad5b1; padding:0 40px; font-size:16px; font-weight:900; color:#fff; border-radius:5px; box-shadow:0 23px 35px rgba(26,213,177,0.33); letter-spacing:1px;}
.btn-green i{ font-size:25px; float:left; margin-right:10px; margin-top:16px;}
.btn-green:hover{ background:#1efcd0; text-decoration:none; color:#171838;}
.btn-red{ height:56px; line-height:56px; display:inline-block; background:#fe4967; padding:0 40px; font-size:16px; font-weight:900; color:#fff; border-radius:5px; box-shadow:0 23px 35px rgba(254,73,103,0.33); letter-spacing:1px;}
.btn-red i{ font-size:25px; float:left; margin-right:10px; margin-top:16px;}
.btn-red:hover{ background:#6eb2fb; text-decoration:none; color:#fff;}


/* PRELOADER */
.preloader{ width:100%; height:100%; position:fixed; left:0; top:0; background:url(../images/preloader.gif) center no-repeat #fff; z-index:9;}
.preloader{-webkit-transition: all 0.7s ease; -moz-transition: all 0.7s ease; -ms-transform:all 0.7s ease; transition: all 0.7s ease;}
.page-loaded .preloader{transform: translateY(-100%); -moz-transform:translateY(-100%); -ms-transform:translateY(-100%); -o-transform:translateY(-100%); -webkit-transform:translateY(-100%);}	
.page-loaded .header{transform: translateY(0); -moz-transform:translateY(0); -ms-transform:translateY(0); -o-transform:translateY(0); -webkit-transform:translateY(0);}
.page-loaded .navbar-default{transform: translateY(0); -moz-transform:translateY(0); -ms-transform:translateY(0); -o-transform:translateY(0); -webkit-transform:translateY(0);}


/* NAVBAR */
.navbar-default{ background:none; border:none; padding:10px 0;}
.navbar-default{transition-delay:0.7s !important; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -ms-transform:all 0.4s ease; transition: all 0.4s ease;}
.navbar-default{transform: translateY(-100%); -moz-transform:translateY(-100%); -ms-transform:translateY(-100%); -o-transform:translateY(-100%); -webkit-transform:translateY(-100%);}
.navbar-default .navbar-brand{ height:auto;}
.navbar-default .navbar-brand img{ height:38px;}
.navbar-default .social-media{ float:right; margin:10px 0; padding:0;}
.navbar-default .social-media li{ float:left; margin:0 6px; padding:0; list-style:none;}
.navbar-default .social-media li a{ width:42px; height:42px; float:left; text-align:center; line-height:38px; border:2px solid #3d3d58; border-radius:50%; color:#fff;}
.navbar-default .social-media li a:hover{ background:#5d5acd; border:2px solid #5d5acd;}


/* HEADER */
.header{ width:100%; height:100%; float:left; background:#171838; position:relative; transition-delay:0.7s;}
.header{-webkit-transition: all 0.7s ease; -moz-transition: all 0.7s ease; -ms-transform:all 0.7s ease; transition: all 0.7s ease;}
.header{transform: translateY(50%); -moz-transform:translateY(50%); -ms-transform:translateY(50%); -o-transform:translateY(50%); -webkit-transform:translateY(50%);}
.header .left-side{ width:30%; height:100%; position:absolute; left:0; top:0; background:url(../images/header-darkblue-bg.jpg) center no-repeat; }
.header .right-side{ width:70%; height:100%; position:absolute; right:0; top:0; background:url(../images/header-darkblue-pattern-bg.png) left no-repeat; background-size:auto 100%;}
.header .right-side .iphone-mockup{ height:100%; position:absolute; left:-22%; bottom:-25%;}
.header .right-side .ver-middle{ padding-left:20%;}
.header .right-side h1{ color:#fff; font-size:80px; font-weight:700; line-height:100px; margin-bottom:50px;}
.header .right-side h1 b{ font-size:137px; font-weight:900;}
.header .right-side .btn-appstore{ height:78px; display:inline-block; background:#7570ff; border-radius:5px; padding:0 30px; box-shadow:0 20px 55px rgba(0,0,0,0.33); margin-right:50px; color:#fff;}
.header .right-side .btn-appstore img{ float:left; height:38px; margin:20px 0; margin-right:15px;}
.header .right-side .btn-appstore span{ display:inline-block; margin-top:15px; opacity:0.55;}
.header .right-side .btn-appstore h3{ width:180px; display:block; font-size:23px; font-weight:900;margin:0;}
.header .right-side .btn-appstore:hover{ text-decoration:none; background:#8a8aff; color:#171838;}
.header .right-side .btn-googleplay{ height:78px; display:inline-block; background:#1ad5b1; border-radius:5px; padding:0 30px; box-shadow:0 20px 55px rgba(0,0,0,0.33); color:#fff; margin-right:15px;}
.header .right-side .btn-googleplay img{ float:left; height:38px; margin:20px 0; margin-right:15px;}
.header .right-side .btn-googleplay span{ display:inline-block; margin-top:15px; opacity:0.55;}
.header .right-side .btn-googleplay h3{ width:210px; display:block;font-size:23px;font-weight:900;margin:0;}
.header .right-side .btn-googleplay:hover{ text-decoration:none; background:#1efcd0; color:#171838;}


/* ABOUT APP */
.about-app{ width:100%; float:left; margin-top:100px; padding:80px 0;}
.about-app h2{ font-size:60px; font-weight:900; color:#15164b; margin-top:22%; margin-bottom:40px;}
.about-app p{ font-size:22px; line-height:29px; display:block;}
.about-app .btn-green{ display:inline-block; margin-top:60px;}
.about-app #video{ display:none;}


/* OUR FEATURES */
.our-features{ width:100%; float:left; padding:80px 0; text-align:center;}
.our-features .title{ font-size:80px; font-weight:900; margin-top:0; margin-bottom:100px;}
.our-features .icon{ display:inline-block; margin-bottom:60px;}
.our-features .icon img{ width:70px; margin-bottom:30px;}
.our-features .icon figcaption{ width:100%; float:left; padding:0 35px;}
.our-features .icon figcaption h4{ font-size:30px; font-weight:900; margin-bottom:20px;}
.our-features .icon figcaption p{ font-size:17px; color:#77778c; margin:0; line-height:29px;}


/* DOWNLOAD FOR FREE */
.download-for-free{ width:100%; float:left; padding:160px 0; background:url(../images/hero1.jpg) center no-repeat;}
.download-for-free h2{ font-size:50px; font-weight:900; color:#fff; margin-top:0; margin-bottom:25px;}
.download-for-free p{ font-size:22px; line-height:29px; opacity:0.83; color:#fff; margin-bottom:70px;}
.download-for-free .btn-appstore{ height:78px; display:inline-block; border-radius:5px; padding:0 20px; margin-right:50px; color:#fff; border:2px solid #fff;}
.download-for-free .btn-appstore img{ float:left; height:38px; margin:18px 0; margin-right:15px; -webkit-filter: brightness(1) invert(1); filter: brightness(1) invert(1); }
.download-for-free .btn-appstore span{ display:inline-block; margin-top:14px; opacity:0.55;}
.download-for-free .btn-appstore h3{ width:180px; display:block; font-size:23px; font-weight:900; margin:0;}
.download-for-free .btn-appstore:hover{ text-decoration:none; background:#171838; border:2px solid #171838;  box-shadow:0 20px 55px rgba(0,0,0,0.33);}
.download-for-free .btn-googleplay{ height:78px; display:inline-block; border-radius:5px; padding:0 20px; margin-right:50px; color:#fff; border:2px solid #fff;}
.download-for-free .btn-googleplay img{ float:left; height:38px; margin:18px 0; margin-right:15px; -webkit-filter: brightness(1) invert(1); filter: brightness(1) invert(1); }
.download-for-free .btn-googleplay span{ display:inline-block; margin-top:14px; opacity:0.55;}
.download-for-free .btn-googleplay h3{ width:210px; display:block; font-size:23px; font-weight:900; margin:0;}
.download-for-free .btn-googleplay:hover{ text-decoration:none; background:#171838; border:2px solid #171838;  box-shadow:0 20px 55px rgba(0,0,0,0.33);}


/* SCREENSHOT */
.screenshots{ width:100%; float:left; padding:100px 0; text-align:center;}
.screenshots .title{ font-weight:900; font-size:80px; margin-bottom:50px;}
.screenshots .nav-tabs{ display:inline-block; border:none; margin-bottom:10px;}
.screenshots .nav-tabs li{ float:left;}
.screenshots .nav-tabs li.active a{ border-bottom:3px solid #1ad5b1; color:#171838;}
.screenshots .nav-tabs li.active a:hover{ background:none; border:none; border-bottom:3px solid #1ad5b1; color:#171838;}
.screenshots .nav-tabs li.active a:focus{ background:none; border:none; border-bottom:3px solid #1ad5b1; }
.screenshots .nav-tabs li a{ color:#bdbdce; font-size:17px; font-weight:900; background:none; border:none; border-bottom:3px solid transparent;}
.screenshots .nav-tabs li a:hover{ color:#1ad5b1;}
.screenshots .tab-content{ width:100%; float:left;}
.screenshots .screenshot-carousel{ width:100%; float:left; margin:0; padding:0;}
.screenshots .screenshot-carousel li{ list-style:none; margin:0; padding:140px 0; text-align:center;}
.screenshots .screenshot-carousel li img{ width:200px; display:inline-block;}
.screenshots .screenshot-carousel .center{ padding:0; background:url(../images/screenshot-iphone-mockup.jpg) center no-repeat; background-size:cover; background-size:400px 717px;}
.screenshots .screenshot-carousel .center img{ width:251px;}
.screenshots .screenshot-carousel2{ width:100%; float:left; margin:0; padding:0;}
.screenshots .screenshot-carousel2 li{ list-style:none; margin:0; padding:140px 0; text-align:center;}
.screenshots .screenshot-carousel2 li img{ width:200px; display:inline-block;}
.screenshots .screenshot-carousel2 .center{ padding:0; background:url(../images/screenshot-samsung-mockup.jpg) center no-repeat; background-size:cover; background-size:400px 717px;}
.screenshots .screenshot-carousel2 .center img{ width:265px; transform:translateY(-20px);}
.screenshots .owl-controls{ width:100%; float:left; text-align:center; position:relative; z-index:9;}
.screenshots .owl-controls .owl-nav{ width:380px; display:inline-block; margin-right:10px;}
.screenshots .owl-controls .owl-prev{ float:left; text-indent:-9999px; font-size:50px; color:#c6c7d8; margin-top:-100%;}
.screenshots .owl-controls .owl-prev:before{content:"\f104"; font-family:fontAwesome; float:left; text-indent:0;}
.screenshots .owl-controls .owl-prev:hover{ color:#7570ff;}
.screenshots .owl-controls .owl-next{ float:right; text-indent:-9999px; font-size:50px; color:#c6c7d8; margin-top:-100%;}
.screenshots .owl-controls .owl-next:before{content:"\f105"; font-family:fontAwesome; float:left; text-indent:0;}
.screenshots .owl-controls .owl-next:hover{ color:#7570ff;}


/* APP STATISTICS */
.app-statistics{ width:100%; float:left; text-align:center;}
.app-statistics .title{ font-size:60px; font-weight:900; margin-bottom:50px;}
.app-statistics .statistic-bar{ width:100%; height:415px; float:left; background:url(../images/app-statistic-bar.png) center no-repeat;}
.app-statistics .counter{ display:inline-block; float:none;}
.app-statistics .counter .symbol{ display:inline-block; font-size:70px; color:#1ad5b1; transform: translateY(20px);}
.app-statistics .counter .number{ display:inline-block; font-size:70px; color:#1ad5b1; padding:0;}
.app-statistics .counter .number span{ padding:0;}
.app-statistics .counter .number .odometer-digit{padding-right:5px;}
.app-statistics .counter h5{ width:100%; float:left; font-size:30px; font-weight:900; margin-top:-5px;}


/* HOW IT WORK */
.how-it-work{ width:100%; float:left; padding-bottom:100px;}
.how-it-work .title{ font-size:80px; font-weight:900; margin-bottom:50px;}
.how-it-work .nav-tabs{ width:100%; float:left; border:none; margin-bottom:62px;}
.how-it-work .nav-tabs li{ float:left;}
.how-it-work .nav-tabs li.active a{ border-bottom:3px solid #1ad5b1; color:#171838;}
.how-it-work .nav-tabs li.active a:hover{ background:none; border:none; border-bottom:3px solid #1ad5b1; color:#171838;}
.how-it-work .nav-tabs li.active a:focus{ background:none; border:none; border-bottom:3px solid #1ad5b1; }
.how-it-work .nav-tabs li a{ color:#bdbdce; font-size:17px; font-weight:900; background:none; border:none; border-bottom:3px solid transparent;}
.how-it-work .nav-tabs li a:hover{ color:#1ad5b1;}
.how-it-work .tab-content{ width:100%; float:left;}
.how-it-work .tab-content .tab-pane{ width:100%; float:left;}
.how-it-work .tab-content .tab-pane h3{ font-size:30px; font-weight:900; position:relative; margin-bottom:40px;}
.how-it-work .tab-content .tab-pane h3:after{content:attr(data-title); font-size:130px; color:#77778c; opacity:0.10; position:absolute; left:-52px; top:-62px;}
.how-it-work .tab-content .tab-pane p{color:#77778c; font-size:22px; line-height:29px; margin-bottom:40px;}
.how-it-work .tab-content .tab-pane a{ float:left;}


/* APP SUPPORT */
.app-support{ width:100%; float:left; padding-top:100px; padding-bottom:620px; background: url(../images/app-support-bottom-bg.png) bottom center no-repeat #171838; color:#fff;}
.app-support .title{ font-weight:900; font-size:60px; margin-bottom:50px;}
.app-support .say-hello{ width:100%; float:left; background:url(../images/app-support-icon.png) no-repeat; background-position:160px 0; padding-top:60px;}
.app-support .say-hello h4{ font-size:30px; font-weight:900; color:#fff;}
.app-support .say-hello .half{ width:50%; padding:0 20px;}
.app-support .say-hello .half.first{ margin-left:-20px;}
.app-support .say-hello .half.last{ float:right; margin-right:-20px;}
.app-support .say-hello button[type="submit"]{ width:51px; height:51px; float:right; border-radius:50%; background:#1ad5b1; color:#171838; margin-right:20px; margin-top:-90px;}
.app-support .say-hello button[type="submit"]:hover{ background:#1efcd0; box-shadow:0 20px 55px rgba(0,0,0,0.33);}
.app-support .contact-us{ width:100%; float:left; padding-left:100px; padding-top:60px;}
.app-support .contact-us h4{ font-size:30px; font-weight:900; color:#fff; margin-bottom:30px;}
.app-support .contact-us span{ display:block; font-size:20px; color:#797a9e;}
.app-support .contact-us p{ font-size:20px; color:#fff; margin-bottom:20px;}
.app-support .contact-us p a{ color:#fff;}


/* TESTIMONIALS */
.testimonials{ width:100%; float:left; background:#7570ff; padding:130px 0;}
.testimonials .title{ font-size:80px; font-weight:900; color:#fff; margin-top:0; margin-bottom:50px;}
.testimonials .testimonials-carousel{ width:100%; float:left;}
.testimonials .testimonials-carousel .item{ padding:32px;}
.testimonials .testimonial-box-left{ width:458px; float:left;}
.testimonials .testimonial-box-right{ width:458px; float:right;}
.testimonials .testimonial-box{ width:100%; float:left; background:#fff; box-shadow:0 0 32px rgba(0,0,0,0.15); padding:44px; border-radius:6px 6px 6px 0; position:relative;}
.testimonials .testimonial-box:after{content:""; width:27px; height:13px; background:url(../images/testimonial-triangle.png) no-repeat; position:absolute; left:0; bottom:-13px;}
.testimonials .testimonial-box p{ font-size:18px; line-height:28px; margin:0;}
.testimonials .testimonial-user{ width:100%; float:left; padding-top:40px; padding-left:30px;}
.testimonials .testimonial-user img{ width:auto; height:auto; border-radius:50%; float:left; margin-right:15px;}
.testimonials .testimonial-user h5{ font-size:20px; font-weight:900; color:#fff; margin-bottom:0; margin-top:20px;}
.testimonials .testimonial-user span{ color:#4b48a7; font-size:15px; font-weight:700;}
.testimonials .owl-nav{ width:100%; float:left;}
.testimonials .owl-nav .owl-prev{ float:left; text-indent:-9999px; opacity:0.3; margin-top:-250px; margin-left:-20px;}
.testimonials .owl-nav .owl-prev:hover{ opacity:0.6;}
.testimonials .owl-nav .owl-prev:before{content:"\f053"; float:left; text-indent:0; font-family:fontAwesome; color:#fff; font-size:30px;}
.testimonials .owl-nav .owl-next{ float:right; text-indent:-9999px; opacity:0.3; margin-top:-250px; margin-right:-20px;}
.testimonials .owl-nav .owl-next:hover{ opacity:0.6;}
.testimonials .owl-nav .owl-next:before{content:"\f054"; float:left; text-indent:0; font-family:fontAwesome; color:#fff; font-size:30px;}


/* OUR TEAM */
.our-team{ width:100%; float:left; padding:130px 0; text-align:center;}
.our-team .title{ font-size:80px; font-weight:900; margin-top:0; margin-bottom:70px;}
.our-team .team-carousel{ width:100%; float:left; margin:0; padding:0;}
.our-team .team-carousel li{ list-style:none; margin:0; padding:0;}
.our-team .team-member{ width:100%; float:left; position:relative; margin-bottom:20px; overflow:hidden; border-radius:50%; background:#1ad5b1; padding:10px;}
.our-team .team-member img{ width:100%; float:left; transform-style:flat !important; border-radius:50% !important;}
.our-team .team-member .social-media{ width:100%; height:100%; border-radius:50%; position:absolute; left:0; top:0; background:rgba(26,213,177,0.80); margin:0; padding:0; padding-top:40%; opacity:0; visibility:hidden;}
.our-team .team-member .social-media li{ display:inline-block; margin:0 10px;}
.our-team .team-member .social-media li a{ color:#fff; font-size:25px;}
.our-team .team-member .social-media li a:hover{ color:#171838;}
.our-team .team-member:hover .social-media{ opacity:1; visibility:visible;}
.our-team .team-member:hover img{transform: scale(1.1);}
.our-team .member-infos{ width:100%; float:left;}
.our-team .member-infos h5{ font-size:20px; font-weight:900; margin-bottom:5px;}
.our-team .member-infos span{ font-weight:700; color:#1ad5b1;}
.our-team .owl-dots{ width:100%; float:left; text-align:center; margin-top:50px;}
.our-team .owl-dots .owl-dot{ width:14px; height:14px; background:#d3d4e7; display:inline-block; border:2px solid #f6f6f6; margin:0 3px; border-radius:50%;}
.our-team .owl-dots .owl-dot.active{ border:2px solid #1ad5b1; background:#1ad5b1;}


/* DOWNLOAD APP FOR FREE */
.download-app-for-free{ width:100%; float:left; padding-top:50px; text-align:center; background:url(../images/download-app-pattern-bg.png) center no-repeat;}
.download-app-for-free .title{font-size:60px; font-weight:900; margin-top:0; margin-bottom:70px;}
.download-app-for-free .mockup{ max-width:100%; display:inline-block; margin-top:150px;}
.download-app-for-free .btn-appstore{ height:78px; display:inline-block; background:#1ad5b1; border-radius:5px; padding:0 30px; box-shadow:0 20px 55px rgba(26,213,177,0.33); margin-right:50px; color:#fff; text-align:left;}
.download-app-for-free .btn-appstore img{ float:left; height:38px; margin:20px 0; margin-right:15px; -webkit-filter: brightness(1) invert(1); filter: brightness(1) invert(1); }
.download-app-for-free .btn-appstore span{ float:left; margin-top:15px; opacity:0.55;}
.download-app-for-free .btn-appstore h3{ width:180px; display:block; font-size:23px; font-weight:900; margin:0;}
.download-app-for-free .btn-appstore:hover{ text-decoration:none; background:#1efcd0; color:#171838;}
.download-app-for-free .btn-appstore:hover img{-webkit-filter: brightness(0) invert(0); filter: brightness(0) invert(0);}
.download-app-for-free .btn-googleplay{ height:78px; display:inline-block; background:#7570ff; border-radius:5px; padding:0 30px; box-shadow:0 20px 55px rgba(117,112,255,0.33); color:#fff; }
.download-app-for-free .btn-googleplay img{ float:left; height:38px; margin:20px 0; margin-right:15px; -webkit-filter: brightness(1) invert(1); filter: brightness(1) invert(1); }
.download-app-for-free .btn-googleplay span{ float:left; margin-top:15px; opacity:0.55;}
.download-app-for-free .btn-googleplay h3{ width:210px; display:block; font-size:23px; font-weight:900; margin:0;}
.download-app-for-free .btn-googleplay:hover{ text-decoration:none; background:#8a8aff; color:#171838;}
.download-app-for-free .btn-googleplay:hover img{-webkit-filter: brightness(0) invert(0); filter: brightness(0) invert(0);}


/* FOOTER */
.footer{ width:100%; float:left; background:#171838; text-align:center; padding:30px 0;}
.footer .title{ font-size:30px; font-weight:900; color:#fff; margin:30px 0;}
.footer form{ width:100%; max-width:550px; display:inline-block; border-bottom:2px solid #797a9e; padding:15px 0; margin-bottom:30px;}
.footer form input[type="text"]{ width:80%; height:51px; float:left; border:none; background:none; font-size:20px; color:#fff;}
.footer form button[type="submit"]{ width:51px; height:51px; float:right; border-radius:50%; background:#5d5acd; border:none; font-size:18px;}
.footer form button[type="submit"]:hover{ background:#1efcd0; box-shadow:0 20px 55px rgba(0,0,0,0.33);}
.footer .social-media{ display:inline-block; margin:0; padding:0;}
.footer .social-media li{ float:left; margin:0 6px; padding:0; list-style:none;}
.footer .social-media li a{ width:42px; height:42px; float:left; text-align:center; line-height:38px; border:2px solid #3d3d58; border-radius:50%; color:#fff;}
.footer .social-media li a:hover{ background:#5d5acd; border:2px solid #5d5acd;}


@media only screen and (max-width: 1169px), only screen and (max-device-width: 1169px) {
.header .right-side h1{ font-size:60px;}
.header .right-side .iphone-mockup{left:-28%;}
.header .right-side .btn-appstore{ margin-right:30px;}
.download-for-free .btn-appstore{ margin-right:4px;}
.testimonials .testimonial-box-left{ width:420px;}
.testimonials .testimonial-box-right{ width:420px;}
}

@media only screen and (max-width: 979px), only screen and (max-device-width: 979px) {
.header .left-side{ display:none;}
.header .right-side h1{ font-size:60px;}
.header .right-side h1 b{ font-size:100px;}
.header .right-side .iphone-mockup{ height:60%; bottom:10%; left:-45%;}
.header .right-side .btn-appstore{ margin-bottom:20px;}
.about-app{ margin-top:0;}
.about-app h2{ margin-top:0;}
.our-features .icon figcaption{ padding:0;}
.our-features .icon figcaption h4{ font-size:26px;}
.app-statistics .counter .number{ font-size:46px;}
.app-statistics .counter .symbol{ font-size:46px; transform:translateY(11px);}
.how-it-work .text-center{ text-align:left;}
.app-support .contact-us{ padding-left:0;}
.testimonials .testimonial-box-left{ width:100%;}
.testimonials .testimonial-box-right{ width:100%;}
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
.navbar-default .navbar-brand img{ height:32px;}
.navbar-default .social-media{-webkit-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8);}
.header .left-side{ display:none;}
.header .right-side{ width:100%; padding-left:15px; padding-right:15px;}
.header .right-side h1{ font-size:50px; line-height:60px;}
.header .right-side h1 b{ font-size:50px;}
.header .right-side .iphone-mockup{ display:none;}
.header .right-side .ver-middle{ padding-left:0;}
.header .right-side .btn-appstore{ width:100%;}
.header .right-side .btn-googleplay{ width:100%;}
.header .navbar-header{ float:left;}
.about-app{ margin-top:0;}
.about-app h2{ margin-top:0; font-size:50px;}
.download-for-free .btn-appstore{ width:100%; margin-bottom:15px;}
.download-for-free .btn-googleplay{ width:100%;}
.our-features .title{ font-size:50px;}
.how-it-work .title{ font-size:50px;}
.app-statistics .title{ font-size:50px;}
.app-statistics .counter h5{ margin-bottom:50px;}
.app-support .say-hello .half{ width:100%; padding:0;}
.app-support .say-hello .half.first{ margin:0;}
.app-support .say-hello .half.last{ margin:0;}
.testimonials .owl-nav{ display:none;}
.testimonials .title{ font-size:50px;}
.testimonials .testimonials-carousel .item{ padding:0;}
.download-app-for-free .title{ font-size:50px;}
.download-app-for-free .btn-appstore{ width:100%; margin-right:0; margin-bottom:30px;}
.download-app-for-free .btn-googleplay{ width:100%;}
.screenshots .screenshot-carousel .center{ background:none;}
.screenshots .title{ font-size:50px;}
.our-team .title{ font-size:50px;}

}
